.all {
    background-color: #16052a;
}
.icon::after {
  content: '';
  position: absolute;
  top: 0;
  left: -44px;
  width: 44px;
  height: 40px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px #16052a;
}


.icon::before {
  content: '';
  position: absolute;
  top: 0;
  right: -44px;
  width: 44px;
  height: 40px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -15px -15px 0 15px #16052a;
}

.image {
  font-size: 6rem;
}

